{% extends "base.html"%}
{% block centre%}
<div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Produit</div>
              <div class="number">60</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Aujourd'hui</span>
              </div>
            </div>
            <i class="bx bx-cart-alt cart"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total vente</div>
              <div class="number">50</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Aujourd'hui</span>
              </div>
            </div>
            <i class="bx bxs-cart-add cart two"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Cout total</div>
              <div class="number">11</div>
              <div class="indicator">
                <i class="bx bx-down-arrow-alt down"></i>
                <span class="text">Hier</span>
              </div>
            </div>
            <i class="bx bxs-cart-download cart four"></i>
          </div>
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
           <div class="title">
                <p>Liste des ventes</p>
                <button id="print-report">Imprimer le rapport</button>
                <button id="open-popup">Ajouter une commander</button>
                <div id="dropdown-list" class="dropdown-content">
                    <a href="#">Journalier</a>
                    <a href="#">Hebdomadaire</a>
                    <a href="#">Mensuel</a>
                </div>
            </div>
            <div class="sales-details">
              <ul class="details">
                <li class="topic">Date de vente</li>
                <li><a href="#">02/01/2024</a></li>
                <li><a href="#">05/01/2024</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
              </ul>
              <ul class="details">
                <li class="topic">statut</li>
                <li><a href="#"> terminée</a></li>
                <li><a href="#">en cours</a></li>
                <li><a href="#">annulé</a></li>
                <li><a href="#">terminée</a></li>
                <li><a href="#">en cours</a></li>
                <li><a href="#">annulé</a></li>
                <li><a href="#">terminée</a></li>
                <li><a href="#"> en cours</a></li>
                <li><a href="#">annulé</a></li>
              </ul>
              <ul class="details">
                <li class="topic">details</li>
                <li><button class="gauche" id="voir"><a href="#"><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
                <li><button class="gauche"><a href=""><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
                <li><button class="gauche"><a href=""><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
                <li><button class="gauche"><a href=""><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
                <li><button class="gauche"><a href=""><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
                <li><button class="gauche"><a href=""><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
                <li><button class="gauche"><a href=""><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
                <li><button class="gauche"><a href=""><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
                <li><button class="gauche"><a href=""><i class='bx bx-show eyes-icon' style='font-size: 22px; color:white;'></i></a></button></li>
              </ul>
              <ul class="details">
                <li class="topic">Nom clients</li>
                <li><a href="#">kra</a></li>
                <li><a href="#">kouassi</a></li>
                <li><a href="#">soumahoro</a></li>
                <li><a href="#">diarrassouba</a></li>
                <li><a href="#">coulibaly</a></li>
                <li><a href="#">ouadeba</a></li>
                <li><a href="#">n'guessan</a></li>
                <li><a href="#">houan</a></li>
                <li><a href="#">tebily</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Action</li>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
               <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                  <div class="icon">
                      <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                      <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
              </ul>
            </div>
            <div class="button">
              <a href="#">Voir plus</a>
            </div>
          </div>
        </div>
      </div>

      <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" id="close-popup">&times;</span>
          <h2>Ajout d'une nouvelle commande</h2><br>
            <div><button id="btn1">Client existant</button>
                <button id="btn2">Nouveau client</button>
            </div><br>
            <form class="form1" id="form1">

                 <label for="client">Client</label>
                  <select id="client" name="client" required>
                      <option value="">Sélectionnez un client</option>
                      <option value="categorie1">Client 1</option>
                      <option value="categorie2">Client 2</option>
                      <option value="categorie3">Client 3</option>
                      <!-- Ajoutez d'autres options selon vos besoins -->
                  </select>

                  <label for="produit">Produit</label>
                  <select id="produit" name="produit" required>
                      <option value="">Sélectionnez un produit</option>
                      <option value="categorie1">Produit 1</option>
                      <option value="categorie2">Produit 2</option>
                      <option value="categorie3">Produit 3</option>
                      <!-- Ajoutez d'autres options selon vos besoins -->
                  </select>
                  <label for="nombre">Nombre</label>
                  <input type="number" id="nombre" name="nombre" required>

                  <button type="#">Ajouter</button>

              <table>
                        <thead>
                            <tr>
                                <td>Réf</td>
                                <td>Designation</td>
                                <td>Quantité</td>
                                <td>PU TTC</td>
                                <td>Montant TTC</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nolovo XP core I5</td>
                                <td>2</td>
                                <td>400 000</td>
                                <td>400 000</td>
                            </tr>
                        </tbody>
                    </table>
              <button type="submit">Valider la vente</button>
            </form>

            <form class="form2" id="form2">

                 <label for="nom">Nom et prénoms</label>
                  <input type="text" id="nom" name="nom" required>

                  <label for="tel">Téléphone</label>
                  <input type="tel" id="tel" name="tel" required>


                        <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" required>

                  <label for="adresse">Adresse</label>
                  <input type="text" id="adresse" name="adresse" required>

                  <label for="produit">Produit</label>
                  <select id="nouvproduit" name="produit" required>
                      <option value="">Sélectionnez un produit</option>
                      <option value="categorie1">Produit 1</option>
                      <option value="categorie2">Produit 2</option>
                      <option value="categorie3">Produit 3</option>
                      <!-- Ajoutez d'autres options selon vos besoins -->
                  </select>
                  <label for="nouvnombre">Nombre</label>
                  <input type="number" id="nouvnombre" name="nombre" required>

                  <button type="#">Ajouter</button>

              <table>
                        <thead>
                            <tr>
                                <td>Réf</td>
                                <td>Designation</td>
                                <td>Quantité</td>
                                <td>PU TTC</td>
                                <td>Montant TTC</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nolovo XP core I5</td>
                                <td>2</td>
                                <td>400 000</td>
                                <td>400 000</td>
                            </tr>
                        </tbody>
                    </table>
              <button type="submit">Valider la commande</button>
            </form>

        </div>
    </div>

<div id="popup12" class="popup12">
        <div class="popup-content1">
            <span class="close" id="close-popup1">&times;</span>
          <p style="color: orange;">Cachet des mentions obligatoires <span class="black-text">FACTURE N°23007Z075</span><span class="orange-text">\0740935</span></p>
            <div class="signe">
                <div class="signature"></div>
                <div class="clients"><p>Date : .................................................</p>
                    <p>Client : ...................................................</p>
                    <p>Adresse : .............................................</p>
                </div>
            </div>
            <form>
              <table>
                        <thead>
                            <tr>
                                <td>Réf</td>
                                <td>Designation</td>
                                <td>Quantité</td>
                                <td>PU TTC</td>
                                <td>Montant TTC</td>
                            </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                <div class="signe1">
                <div class="signature1">Montant total TTC</div>
                <div class="total"></div>
            </div>
                <p style="color:orange;">Arreté de la presente facture à la somme de .........................................................</p>
                 <p style="color:orange;">.....................................................................................................................................................................</p><br>
                 <p style="color:orange; text-align:center;">Facturation de la TVA non autorisée</p>
            </form>
            <div><button class="btn12"><a href="{{url_for('achats')}}">Retour</a></button>
                <button id="btn11">Imprimer</button>
            </div><br>
        </div>
</div>
{% endblock %}

