{% extends "base.html" %}
{% block centre%}

<div class="home-content">
  <div class="sales-boxes">
    <div class="recent-sales5 box">
      <div class="formulaire">
       <h2>Modification stock</h2><br>

       <form method="post" action="{{ url_for('modifier_stock', id_stock=stock[4]) }}">
                <label for="produit">Produit</label>
                <select id="produit" name="produit" required>
                    <option value="{{ stock[4] }}">{{ stock[0] }}</option>
                    {% for prod in produit %}
                        <option value="{{ prod[0] }}">{{ prod[1] }}</option>
                    {% endfor %}
                </select>
                <label for="nombre">Nombre</label>
                <input type="number" id="nombre" name="nombre" value="{{ stock[2] }}" required>

                  <div><button type="#" ><a href="{{url_for('stock')}}" style="text-decoration:none;
    color: #fff;">Annuler</a></button>
                  <button type="submit" >Confirmer</button>
                </div>
            </form>
        </div>
  </div><br>
</div>
  </div>
{% endblock %}