<div class="sidebar">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">DL SION COMPAGNIE</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{{ url_for('base') }}" class="active">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Tableau de bord</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('articles') }}">
            <i class="bx bx-box"></i>
            <span class="links_name">Articles</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-user"></i>
            <span class="links_name">clients</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-user"></i>
            <span class="links_name">fournisseurs</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-cart-add cart two"></i>
            <span class="links_name">Ventes</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cart-alt cart"></i>
            <span class="links_name">Commandes</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-coin-stack"></i>
            <span class="links_name">Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Rapport</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-message"></i>
            <span class="links_name">Emailing</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Paramètre</span>
          </a>
        </li>
        <li class="log_out">
          <a href="{{url_for('login')}}">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Déconnexion</span>
          </a>
        </li>
      </ul>
    </div>