{% extends "base.html"%}
{% block centre%}
<div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Produit</div>
              <div class="number">60</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Aujourd'hui</span>
              </div>
            </div>
            <i class="bx bx-cart-alt cart"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total vente</div>
              <div class="number">50</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Aujourd'hui</span>
              </div>
            </div>
            <i class="bx bxs-cart-add cart two"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Cout total</div>
              <div class="number">11</div>
              <div class="indicator">
                <i class="bx bx-down-arrow-alt down"></i>
                <span class="text">Hier</span>
              </div>
            </div>
            <i class="bx bxs-cart-download cart four"></i>
          </div>
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">
              <p>Liste Produits</p><button id="open-popup">Ajouter un Produit</button>
            </div>
            <div class="sales-details">
              <ul class="details">
                <li class="topic">Nom</li>
                <li><a href="#">ordinateur</a></li>
                <li><a href="#">ordinateur</a></li>
                <li><a href="#">accessoire</a></li>
                <li><a href="#">mini-otrdinateur</a></li>
                <li><a href="#">ordinateur</a></li>
                <li><a href="#">ordinateur</a></li>
                <li><a href="#">accessoire</a></li>
                <li><a href="#">ordinarteur</a></li>
                <li><a href="#">ordinateur</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Catégorie</li>
                <li><a href="#"> HP</a></li>
                <li><a href="#"> LENOVO</a></li>
                <li><a href="#">Imprimante</a></li>
                <li><a href="#">Tablette</a></li>
                <li><a href="#">  Bureau</a></li>
                <li><a href="#"> Gamer</a></li>
                <li><a href="#">souris</a></li>
                <li><a href="#"> DELL</a></li>
                <li><a href="#"> MAC</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Prix</li>
                <li><a href="#">50.000F</a></li>
                <li><a href="#">250.000F</a></li>
                <li><a href="#">300.000F</a></li>
                <li class="#">400.000F</li>
                <li><a href="#">500.000F</a></li>
                <li><a href="#">390.000F</a></li>
                <li><a href="#">600.000F</a></li>
                <li class="#">700.000F</li>
                <li><a href="#">800.000F</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Designation</li>
                <li><a href="#">grand</a></li>
                <li><a href="#">petit</a></li>
                <li><a href="#">large</a></li>
                <li><a href="#">grand</a></li>
                <li><a href="#">petit</a></li>
                <li><a href="#">large</a></li>
                <li><a href="#">grand</a></li>
                <li><a href="#">petit</a></li>
                <li><a href="#">large</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Action</li>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
               <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
              </ul>
            </div>
            <div class="button">
              <a href="#">Voir plus</a>
            </div>
          </div>
          <div class="top-sales box">
            <div class="title">Meilleur Produit</div>
            <ul class="top-sales-details">
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/sunglasses.jpg') }}" alt="" />
                  <span class="product"> HP</span>
                </a>
                <span class="price">50.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/jeans.jpg') }}" alt="" />
                  <span class="product">Imprimante </span>
                </a>
                <span class="price">300.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/nike-min.jpg') }}" alt="" />
                  <span class="product">Tablette</span>
                </a>
                <span class="price">400.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/scarves.jpg') }}" alt="" />
                  <span class="product">ordinateur Mac.</span>
                </a>
                <span class="price">800.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/blueBag.jpg') }}" alt="" />
                  <span class="product">ordinateur bureau</span>
                </a>
                <span class="price">500.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/bag.jpg') }}" alt="" />
                  <span class="product">clavier</span>
                </a>
                <span class="price">200.000F</span>
              </li>

              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/addidas.jpg') }}" alt="" />
                  <span class="product">ordinateur Gamer</span>
                </a>
                <span class="price">390.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/shirt.jpg') }}" alt="" />
                  <span class="product">ordinateur lenovo</span>
                </a>
                <span class="price">250.000F</span>
              </li>
            </ul>
          </div>
        </div>

      </div>
<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" id="close-popup">&times;</span>
        <form>
             <label for="nom">Nom:</label>
              <input type="text" id="nom" name="nom" required><br>

              <label for="categorie">Catégorie:</label>
              <input type="text" id="categorie" name="categorie" required><br>

              <label for="prix">Prix:</label>
              <input type="text" id="prix" name="prix" required><br>

              <label for="description">Description:</label>
              <textarea id="description" name="description" required></textarea><br>

              <label for="image">Image:</label>
              <input type="file" id="image" name="image" accept="image/*" required><br>

              <button type="submit">Ajouter</button>
        </form>
    </div>
</div>
{% endblock %}