{% extends "base.html"%}
{% block centre%}
<div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Produit</div>
              <div class="number">60</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Aujourd'hui</span>
              </div>
            </div>
            <i class="bx bx-cart-alt cart"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total vente</div>
              <div class="number">50</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Aujourd'hui</span>
              </div>
            </div>
            <i class="bx bxs-cart-add cart two"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Cout total</div>
              <div class="number">11</div>
              <div class="indicator">
                <i class="bx bx-down-arrow-alt down"></i>
                <span class="text">Hier</span>
              </div>
            </div>
            <i class="bx bxs-cart-download cart four"></i>
          </div>
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">
              <p>Liste Ventes</p><button>Ajouter une Vente</button>
            </div>
            <div class="sales-details">
              <ul class="details">
                <li class="topic">Date de vente</li>
                <li><a href="#">02/01/2024</a></li>
                <li><a href="#">05/01/2024</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
                <li><a href="#">---</a></li>
              </ul>
              <ul class="details">
                <li class="topic">statut</li>
                <li><a href="#"> terminée</a></li>
                <li><a href="#">en cours</a></li>
                <li><a href="#">annulé</a></li>
                <li><a href="#">terminée</a></li>
                <li><a href="#">en cours</a></li>
                <li><a href="#">annulé</a></li>
                <li><a href="#">terminée</a></li>
                <li><a href="#"> en cours</a></li>
                <li><a href="#">annulé</a></li>
              </ul>
              <ul class="details">
                <li class="topic">details</li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
                <li><button class="gauche"><a href="">Voir</a></button></li>
              </ul>
              <ul class="details">
                <li class="topic">Nom clients</li>
                <li><a href="#">kra</a></li>
                <li><a href="#">kouassi</a></li>
                <li><a href="#">soumahoro</a></li>
                <li><a href="#">diarrassouba</a></li>
                <li><a href="#">coulibaly</a></li>
                <li><a href="#">ouadeba</a></li>
                <li><a href="#">n'guessan</a></li>
                <li><a href="#">houan</a></li>
                <li><a href="#">tebily</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Action</li>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
               <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
                <div class="icon">
                  <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                  <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
                </div>
              </ul>
            </div>
            <div class="button">
              <a href="#">Voir plus</a>
            </div>
          </div>
          <div class="top-sales box">
            <div class="title">Meilleurs Ventes</div>
            <ul class="top-sales-details">
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/sunglasses.jpg') }}" alt="" />
                  <span class="product"> HP</span>
                </a>
                <span class="price">50.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/jeans.jpg') }}" alt="" />
                  <span class="product">Imprimante </span>
                </a>
                <span class="price">300.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/nike-min.jpg') }}" alt="" />
                  <span class="product">Tablette</span>
                </a>
                <span class="price">400.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/scarves.jpg') }}" alt="" />
                  <span class="product">ordinateur Mac.</span>
                </a>
                <span class="price">800.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/blueBag.jpg') }}" alt="" />
                  <span class="product">ordinateur bureau</span>
                </a>
                <span class="price">500.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/bag.jpg') }}" alt="" />
                  <span class="product">clavier</span>
                </a>
                <span class="price">200.000F</span>
              </li>

              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/addidas.jpg') }}" alt="" />
                  <span class="product">ordinateur Gamer</span>
                </a>
                <span class="price">390.000F</span>
              </li>
              <li>
                <a href="#">
                  <img src="{{ url_for('static', filename='image/shirt.jpg') }}" alt="" />
                  <span class="product">ordinateur lenovo</span>
                </a>
                <span class="price">250.000F</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
{% endblock %}